TELEGRAM_BOT_TOKEN=BURAYA_BOT_TOKEN
TELEGRAM_CHAT_ID=BURAYA_CHAT_ID
SYMBOLS=
SEND_EMPTY_SCAN_MESSAGE=true
RAILWAY_JOB=telegram_sat_bot
SEND_BUY_MESSAGES=false
SEND_SELL_MESSAGES=true
SEND_SCAN_SUMMARY=false
SEND_SIGNAL_MESSAGE_SEPARATELY=true
